$light-green: #7ed56f;
$mediu-green: #55c57a;
$dark-green: #28b485;
$gray: #777;
@mixin mediaQ($size){
    @if $size==phone{
        @media (max-width:37.5em){ //600px/16
            @content
        };
    }

    @if $size==tab-port{
        @media (max-width:56.25em){ //900px/16
            @content
        };
    }

    @if $size==tab-lan{
        @media (max-width:75em){ //1200px/16
            @content
        };
    }

    @if $size==desk{
        @media (min-width:112.5em){ //1800/16
            @content
        };
    }
    
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; //1rem = 10px = 62.5% 10px/16px*100=62.5%

    @include mediaQ(tab-lan){
        font-size: 65.25%; //1rem = 9px, 9/16*100=65.25%
    }

    @include mediaQ(tab-port){
        font-size: 50%; //1rem = 8px, 8/16*100
    }

    @include mediaQ(phone){
        font-size: 45%; 
    }

    @include mediaQ(desk){
        font-size: 75%; //1rem = 12px, 12/16*100=75%
    }
}
body{
    font-family: "lato", sans-serif;
    font-weight: 400;
    color:$gray;
    line-height: 1.7;
}
.navigation{
    .check-class{
        display: none;
    }
    &__bg{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-image: radial-Gradient($light-green,$dark-green);
        position: fixed;
        top:4.5rem;
        right: 4.5rem;
        z-index: 1000;   
        
        transition: all .5s cubic-bezier(.69,-0.37,.06,.9);
        //transform: scale(100); 
        @include mediaQ(tab-port){
            top:2.5rem;
            right: 2.5rem;
        }   
        @include mediaQ(phone){
            top:1.5rem;
            right: 1.5rem;
        } 
    }
    .check-class:checked ~ .navigation__bg{
        transform: scale(80);
    }
    
    &__button{        
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
        position: fixed;
        top:4rem;
        right: 4rem;
        z-index: 2000;     

        @include mediaQ(tab-port){
            top:2rem;
            right: 2rem;
        }   
        @include mediaQ(phone){
            top:1rem;
            right: 1rem;
        }   
    }
    .icon{
        width:3rem;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.781);
        position:absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .icon::after{
        content: "";
        width:3rem;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.781);
        position: absolute;
        top:1rem;
        transition: all .2s;
    }
    .icon::before{
        content: "";
        width:3rem;
        height: 2px;
        background-color:  rgba(0, 0, 0, 0.781);
        position: absolute;
        top:-1rem;
        transition: all .2s;
    }
    .check-class:checked + &__button .icon{
        background-color: transparent;
    }
    .check-class:checked + .navigation__button .icon::after {
        top: 0;
        transform: rotate(135deg);
    }

    .check-class:checked + &__button .icon::before{
        top:0;
        transform: rotate(-135deg);
    }
    .nav{
        height: 100vh;
        //width: 100%;        
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        
    }
    .check-class:checked ~ .nav{
        opacity: 1;
        width: 100%;
    }
    .nav__ul{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);        
    }
    .nav__li{
        list-style: none;
        text-align: center;
        margin-bottom: 5px;
    }
    a{
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color:white;
        font-size: 2rem;
        padding: 1rem 2rem;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
        background-size: 235%;
        transition: all .3s;
    }
    a:hover{
        background-position: 100%;
        color: $light-green;
    }
    span{
        margin-right: 1.5rem;
    }
}

.header{
    height: 90vh;
    background-image: linear-gradient(to right bottom, rgba($mediu-green, 0.80), rgba($dark-green, 0.80)),url("../img/hero-small.jpg");
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 77%, 0% 100%);
    position:relative;

    @include mediaQ(tab-port){
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    }

    @include mediaQ(phone){
        height: 55vh;
        clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    }
}
.header__logo-box{
    position:absolute;
    top:4rem;
    left: 4rem;
}
.header__logo{
    height: 3.5rem;
}
.header__text-box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.heading-primary--main{
    display: block;
    color: white;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.4rem;
    text-transform: uppercase;

    animation-name: left-to-right;
    animation-duration: 1s;/*duration for the animation*/
    animation-delay: 1s;/*after how many seconds you want the animation to start*/
    animation-timing-function: ease-out;
    /*animation-iteration-count: 2; how many times do you want this animation to run*/

    @include mediaQ(phone){
        font-size: 5rem; 
        letter-spacing: 1rem;
    }
}
.heading-primary--sub{
    display: block;
    color:white;
    font-size:2rem;
    font-weight: 300;
    letter-spacing: .6rem;
    text-transform: uppercase;
    margin-bottom: 3rem;

    animation-name: right-to-left;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;

    @include mediaQ(phone){
        font-size: 1.5rem;
        letter-spacing: .5rem;
    }
}
@keyframes left-to-right{
    0%{
        opacity: 0;
        transform:translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes right-to-left{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
        transform:translateX(0);
    }
}
.btn--white{
    background-color: white;
    color: $gray;
}
.btn--green{
    background-color: $mediu-green;
    color: white;
}
.btn,
.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1.5rem;/*inline element cant give padding, height etc.. so lets convert it to inline-block which will allow us to set the padding and it will be in its own line.*/
    display:inline-block;
    border-radius: 5rem;
    border: 0;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.589);
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    cursor: pointer;
}
.btn:hover{
    transform: translateY(-3px);
}
.btn:active,.btn:focus{
    transform: translateY(-1px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.589);
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    transition: all .4s;
}
.btn:hover::after{
    transform:scale(1.5);
    opacity:0;
}
@keyframes btn-ani {
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }
    100%{
        opacity: 100;
        transform: translateY(0);
    }
}
.btn--animation{
    animation-name: btn-ani;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}
.section-about{
    background-color: #f7f7f7;
    padding: 16rem 0;
    margin-top: -23vh;

    
}
.row{
    max-width: 114rem;
    margin: 0 auto;
    @include mediaQ(tab-port){
        max-width: 50rem;
        padding: 0 3rem;
    }
    &::after{
        content: "";
        display: table;
        clear: both;
    }

    .col-1of2{
        display: inline-block;       
        float: left;
        padding: 1rem;
        width: calc((100% - 5rem) / 2);
        
        @include mediaQ(tab-port){
            width: 100%;
        }
        &:not(:last-child){
            margin-right: 5rem;
            @include mediaQ(tab-port){
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }
    }

    .col-1of3{
        width: calc((100% - (2 * 5rem)) / 3);
        display: inline-block;
        float: left;

        @include mediaQ(tab-port){
            width: 100%;
        }
        &:not(:last-child){
            margin-right: 5rem;
            @include mediaQ(tab-port){
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }
    }

    .col-1of4{
        display: inline-block;
        width: calc((100% - (3 * 5rem)) / 4);
        float: left;
        background-color: white;
        padding: 2rem;
        box-shadow: 0 1rem 2rem rgba(black, .5);
        transition: all .2s;
        border-radius: 3px;

        @include mediaQ(tab-port){
            width: 100%;
        }
        &:not(:last-child){
            margin-right: 5em;
            @include mediaQ(tab-port){
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }

        &:hover{
            transform:translateY(-1rem);
        }
    }

    .sub-heading{
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    p{
         font-size: 1.5rem;
         margin-bottom: 3rem;
     }

    .learn:link, .learn:visited{
        background: linear-gradient(to right, $light-green, $dark-green);
        -webkit-background-clip: text;
        padding:10px;
        border-bottom: 1px solid $mediu-green;
        text-decoration: none;
        font-size: 1.5rem;
        color: transparent;
        transition: all .2s;
        display: inline-block;
    }
    .learn:hover{
        background: linear-gradient(to right, $light-green, $dark-green);
        color:white;
        box-shadow: 0 1rem 2rem rgba(black, .2);
        transform: translateY(-.3rem);

    }
    .learn:active{
        transform: translateY(0);
        box-shadow: 0 .5rem 1rem rgba(black, .2);
    }


}

.composition{
    position: relative;
    
    &__photo{
        width: 50%;
        box-shadow: 0 1rem 3rem black;
        position:absolute;
        outline-offset: 2rem;
        transition: all .3s;
        z-index: 10;
        @include mediaQ(tab-port){
            position: relative;
            width: 33.33333%;
            float: left;

        }
        &:hover{
            z-index: 20;
            transform: scale(1.1) rotate(-5deg);
            outline: 8px solid $dark-green;            
        }    
    
    }

    &__photo--p1{
        top:1rem;
        left:2rem;
        transform: rotate(5deg);
        @include mediaQ(tab-port){
            transform: rotate(0deg);
            top:0;
            left: 0;
        }
        

    }

    &__photo--p2{
        top:4rem;
        left:25rem;
        transform: rotate(-5deg);
        @include mediaQ(tab-port){
            transform: rotate(0deg);
            top:0;
            left: auto;
        }
    }

    &__photo--p3{
        top:15rem;
        left:10rem;
        transform: rotate(5deg);
        @include mediaQ(tab-port){
            transform: rotate(0deg);
            top:0;
            left: auto;
        }
    }


}
.feature{
    padding:20rem 0;
    background-image: linear-gradient(to bottom right, rgba($light-green, .8), rgba($dark-green,.8)), url("../img/nat-4.jpg");
    background-size: cover;
    background-position: bottom;
    transform: skewY(-5deg);
    margin-top: -6rem;
    text-align: center;

    .row{
        transform: skewY(5deg);
    }
    i{
        font-size: 6rem;
        display: inline-block;
        background: linear-gradient(to right, rgba($light-green,.8), rgba($dark-green,.7));
        -webkit-background-clip: text;
        color: transparent;
    }

}
.rotate-sec{
    background-color: #f7f7f7;
    padding: 16rem 0;
    margin-top: -6rem;

    
}
.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    

    &__side{
        height: 50rem;
        width: 100%;
        box-shadow: 0 1rem 2rem rgba(black, .5);
        backface-visibility:hidden;
        border-radius: 3px;
        overflow: hidden;
        position: absolute;
        top:0;
        left:0;
        
        transition: all .8s ease;

        &--front{
            background-color: white;
            &--1{

            }
        }

        &--back{
            transform: rotateY(180deg);
            .card__back--cta{
                position:absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
            }
            .only{
                font-size: 2rem;
                margin: 1rem;
            }
            .value{
                font-size: 8rem;
                font-weight: 200;
                margin: 1rem 0 7rem 0;
            }
            
            &--1{
                background: linear-gradient(to right bottom, rgb(228, 165, 47), rgb(228, 93, 30));
            }

            &--2{
                background: linear-gradient(to right bottom , $light-green, $dark-green);
            }

            &--3{
                background: linear-gradient(to right bottom , rgb(60, 105, 189), rgb(22, 33, 185));
            }
        }   
    }
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0);
    }

    &__pic{
        background-size: cover;
        background-position: bottom;
        height: 22rem;
        -webkit-background-clip: polygon(0 0,100% 0,100% 85%,0 100%);
        clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
        background-blend-mode: screen;

        &--1{
            background-image:linear-gradient(to right, rgba(240, 84, 11, 0.50), rgba(240, 82, 9, 0.50)), url("../img/nat-5.jpg");
        }

        &--2{
            background-image:linear-gradient(to right, $light-green, $dark-green), url("../img/nat-6.jpg");
        }

        &--3{
            background-image:linear-gradient(to right, rgba(60, 105, 189, 0.50), rgba(22, 33, 185, 0.50)), url("../img/nat-7.jpg");
        }
    }

    &__heading{
        color:white;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 300;
        position:absolute;
        top:13rem;
        right: 1rem;
        text-align: right;
        width: 70%;
    }

    &__span{
        padding: .8rem 1rem;
        -webkit-box-decoration-break:clone;
        box-decoration-break: clone;

        &--1{
            background: linear-gradient(to right bottom, rgb(228, 165, 47), rgba(218, 98, 43, 0.959));
        }

        &--2{
            background: linear-gradient(to right bottom , $light-green, $dark-green);
        }

        &--3{
            background: linear-gradient(to right bottom , rgb(60, 105, 189), rgb(22, 33, 185));
        }
    }

    &__disc{
        
        ul{
            padding-top: 2rem;
            list-style-type: none;
            margin: 0 auto;
            width: 50%;
        }
        li{
            text-align: center;
            font-size: 1.5rem;
            padding:.5rem;
            &:not(:last-child){
            border-bottom: 1px solid rgba(128, 128, 128, 0.24);
            }
        }
    }
    @include mediaQ(tab-port){
        
        height: auto;
        border-radius: 3px;
        background-color: white;
        box-shadow: 0 1rem 2rem rgba(black, .5);
    

    &__side{
        height: auto;
        position: relative;
        box-shadow: none;

    
        &--back{
            transform: rotateY(0);
            clip-path: polygon(0% 15%, 100% 0, 100% 100%, 0 100%);
            .card__back--cta{
                position:relative;
                top:0;
                left: 0;
                transform: translate(0);
                color: white;
                padding: 7rem 4rem 4rem 4rem;
            }
            .only{
                font-size: 2rem;
                margin: 1rem;
            }
            .value{
                margin: 1rem 0 3rem 0;
                font-size: 5.5rem;
            }
            
            
        }   
    }
    &:hover &__side--front{
        transform: rotateY(0);
    }
    

    }

}
.btn-shop{
    border-radius: 20px;
    padding:1rem 4rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.527);
    text-transform: uppercase;
    font-size: 1.6rem;   
    border: none; 
    cursor: pointer;

    &:hover{
        transform: translateY(-3px);
    }
    &:active{
        transform: translateY(-1px);
    }
}
.center-div{
    text-align: center;
}

.heading-secondery{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right, $light-green, $dark-green);
    display:inline-block;
    -webkit-background-clip:text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    margin-bottom: 5rem;
    margin-top:5rem;

    @include mediaQ(tab-port){
        font-size: 3rem;
    }
    @include mediaQ(phone){
        font-size: 2.5rem;
    }
    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
    }
}

.stories{
    padding:10rem 0;
    position: relative;
    overflow: hidden;

    .story{
        background-color:rgba(white,.5);
        padding:6rem;
        transform: skewX(-10deg);
        width: 75%;
        margin: 0 auto;
        
        @include mediaQ(tab-port){
            width: 100%;
            padding: 3rem;
        }
        @include mediaQ(phone){
            transform: skewX(0deg);
            padding: 1rem;
        }
        &:not(:last-child){
            margin-bottom: 5rem;
        }             

        &__shape{
            height: 15rem;
            width: 15rem;
            background-color: rebeccapurple;
            float: left;
            shape-outside: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            margin-right: .5rem;
            transform: skewX(10deg);
            overflow: hidden;
            position: relative;
            margin-right: 2.5rem;
            @include mediaQ(phone){
                transform: skewX(0deg);
            }
            .story__caption{
                font-size: 1.5rem;
                text-align: center;
                color: white;
                opacity: 0;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,10%);    
                transition: all .2s;
            }
        }

        &__shape__outline{
            transform: skewX(10deg);
            @include mediaQ(phone){
                transform: skewX(0deg);
            }
        }

        &__pic{
            height: 100%;
            transform: translateX(-2rem);
            transition: all .2s;
            backface-visibility: hidden;
        }

        p{
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
        }

    }
}
.story:hover .story__pic{
    transform: scale(1.2);
    filter: blur(3px) brightness(70%);
} 

.story:hover .story__caption{
    transform:translate(-50%,-50%);
    opacity: 1;
}

.video__container{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}

.story_bg_video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .2;
}
.center-btn{
    text-align: center;
}

.form__section{
    padding: 10rem 0;
    background-color: $light-green;
    .row{
        width: 65%;
        @include mediaQ(phone){
            width: 100%;
        }
    }
    .form__bg_container{
        width: 100%;
        background-image: linear-gradient(110deg, rgba(white,.9) 0%, rgba(white,.9) 50%, transparent 50%) ,url("../img/nat-10.jpg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;

        @include mediaQ(tab-lan){
            background-image: linear-gradient(110deg, rgba(white,.9) 0%, rgba(white,.9) 70%, transparent 70%) ,url("../img/nat-10.jpg");
        }
        @include mediaQ(tab-port){
            background-image: linear-gradient(110deg, rgba(white,.9) 0%, rgba(white,.9) 100%), url("../img/nat-10.jpg");
        }
    }
    .form{
        padding: 2rem 5rem;
        width: 50%;
        @include mediaQ(tab-lan){
            padding:0 5rem 1.5rem;
            width: 70%;
        }
        @include mediaQ(tab-port){
            padding:0 5rem 5rem;
            width: 100%;
        }
        .heading-secondery{
            font-size: 2.5rem;
            @include mediaQ(phone){
                margin-bottom: 0;
            }
        }

        .input_field{
            padding-bottom: 1rem;
        }

        .fName, .email{
            display: block;
            border:none;
            width:80%;
            height: 4rem;
            border-radius: 2px;
            padding: 1rem 2rem;
            color:gray;
            @include mediaQ(tab-port){
                width: 100%;
            }
        }
        .fName:focus{
            outline: none;
            border-bottom: 3px solid $dark-green;
        }
        .email:focus{
            outline: none;
            border-bottom: 3px solid $dark-green;
        }
        .fName:invalid, .email:invalid{
            border-bottom: 3px solid rgb(255, 0, 0);
        }
        .lfName, .lemail{
            color: black;
            padding-left: 2rem;
            font-size: 1rem;
        }
        .radio_container{
            width: 100%;

            .radio{
                display: inline-block;
                margin:1rem 0 4rem 0;
                @include mediaQ(phone){
                    margin-bottom: .5rem;
                }
                &:not(:last-child){
                    margin-right: 2rem;
                }
            }
            .radio_element{
                display:none;
            }
            .lradio_element{
                font-size: 1.5rem;
                position: relative;
                padding-left: 23px;
            }
            .art_radio{
                width: 2rem;
                height: 2rem;
                display: inline-block;
                border-radius: 50px;
                border:3px solid $mediu-green;
                position: absolute;
                left: -2px;
                top:1px;
            }
            .art_radio::after{
                content: "";
                display: inline-block;
                width: 1rem;
                height: 1rem;
                background-color:$mediu-green;
                border-radius:50px;
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                opacity: 0;
            }
            
        }
        .radio_element:checked + .lradio_element > .art_radio::after{
            opacity:1;
        }
    }
    .btn-shop{
        @include mediaQ(tab-port){
            width: 100%;
        }
        
    }
}

.footer{
    background-color: rgba(0, 0, 0, 0.925);
    padding: 5rem 0;

    &_logo_container{
        text-align: center;
        margin-bottom: 6rem;

        @include mediaQ(phone){
            margin-bottom: 3rem;
        }

        .footer__logo{
            width: 16rem;
        }
    }
    &_link_container{
        display: inline-block;
        padding-top: 1rem;
        border-top: 1px solid $gray;
    }
    &_ul{
        list-style-type: none;
    }
    &_li{
        display: inline-block;
        transition: all .2s;

        &:hover{
            box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.521);
            transform: rotate(10deg) scale(1.3);
        }
        
    }
    &_li:not(:last-child){
        margin-right: .5rem;
    }
    &_link{
        color:white;
        text-decoration: none;
        font-size: 1.3rem;
        padding:  .5rem;
        text-transform: uppercase;
        transition: all .2s;
        
        &:hover{
            font-weight: 700;
            color: $dark-green;
        }
    }

    &_pera_container{
        padding-top: 1rem;
        border-top: 1px solid $gray;
        width: 70%;
        float: right;

        @include mediaQ(tab-port){
            width: 100%;
        }
    }
}

.popup{
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 17, 17, 0.808);
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;

    &:target{
        opacity: 1;
        visibility: visible;
    }

    a{
        text-decoration: none;
        position: absolute;
        top:2rem;
        right: 2rem;
    }
    &__box{
        width: 75%;
        background-color: white;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: table;
    }
   
    &__left{
        width: 33.33%;
        display: table-cell;
    }
    &__right{
        width: 66.67%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem;
    }
    .heading-secondery{
        margin-bottom: 10px;
    }
    img{
        width: 100%;
    }
    h3{
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    p{
        margin-bottom: 2rem;
        font-size: 1.2rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid rgba(119, 119, 119, 0.37);

        hyphens: auto;
    }
}

