$light-green: #7ed56f;
$mediu-green: #55c57a;
$dark-green: #28b485;
$gray: #777;

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "lato", sans-serif;
    font-weight: 400;
    color:$gray;
    line-height: 1.7;
}
.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($mediu-green, 0.80), rgba($dark-green, 0.80)),url("../img/hero-small.jpg");
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 77%, 0% 100%);
    position:relative;
}
.header__logo-box{
    position:absolute;
    top:4rem;
    left: 4rem;
}
.header__logo{
    height: 3.5rem;
}
.header__text-box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.heading-primary--main{
    display: block;
    color: white;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.4rem;
    text-transform: uppercase;

    animation-name: left-to-right;
    animation-duration: 1s;/*duration for the animation*/
    animation-delay: 1s;/*after how many seconds you want the animation to start*/
    animation-timing-function: ease-out;
    /*animation-iteration-count: 2; how many times do you want this animation to run*/
}
.heading-primary--sub{
    display: block;
    color:white;
    font-size:2rem;
    font-weight: 300;
    letter-spacing: .6rem;
    text-transform: uppercase;
    margin-bottom: 3rem;

    animation-name: right-to-left;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
}
@keyframes left-to-right{
    0%{
        opacity: 0;
        transform:translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes right-to-left{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
        transform:translateX(0);
    }
}
.btn--white{
    background-color: white;
    color: $gray;
}
.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1.5rem;/*inline element cant give padding, height etc.. so lets convert it to inline-block which will allow us to set the padding and it will be in its own line.*/
    display:inline-block;
    border-radius: 5rem;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.589);
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
}
.btn:hover{
    transform: translateY(-3px);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.589);
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    transition: all .4s;
}
.btn:hover::after{
    transform:scale(1.5);
    opacity:0;
}
@keyframes btn-ani {
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }
    100%{
        opacity: 100;
        transform: translateY(0);
    }
}
.btn--animation{
    animation-name: btn-ani;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}
.section-about{
    background-color: #f7f7f7;
    padding: 16rem 0;
    margin-top: -23vh;

    
}
.row{
    max-width: 114rem;
    margin: 0 auto;
    
    &::after{
        content: "";
        display: table;
        clear: both;
    }

    .col-1of2{
        display: inline-block;       
        float: left;
        padding: 1rem;
        width: calc((100% - 5rem) / 2);
        
        &:not(:last-child){
            margin-right: 5rem;
        }
    }

    .col-1of3{
        width: calc((100% - (2 * 5rem)) / 3);
        display: inline-block;
        float: left;

        &:not(:last-child){
            margin-right: 5rem;
        }
    }

    .col-1of4{
        display: inline-block;
        width: calc((100% - (3 * 5rem)) / 4);
        float: left;
        background-color: white;
        padding: 2rem;
        box-shadow: 0 1rem 2rem rgba(black, .5);
        transition: all .2s;
        border-radius: 3px;

        &:not(:last-child){
            margin-right: 5em;
        }

        &:hover{
            transform:translateY(-1rem);
        }
    }

    .sub-heading{
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    p{
         font-size: 1.5rem;
         margin-bottom: 3rem;
     }

    .learn:link, .learn:visited{
        background: linear-gradient(to right, $light-green, $dark-green);
        -webkit-background-clip: text;
        padding:10px;
        border-bottom: 1px solid $mediu-green;
        text-decoration: none;
        font-size: 1.5rem;
        color: transparent;
        transition: all .2s;
        display: inline-block;
    }
    .learn:hover{
        background: linear-gradient(to right, $light-green, $dark-green);
        color:white;
        box-shadow: 0 1rem 2rem rgba(black, .2);
        transform: translateY(-.3rem);

    }
    .learn:active{
        transform: translateY(0);
        box-shadow: 0 .5rem 1rem rgba(black, .2);
    }


}

.composition{
    position: relative;

    &__photo{
        width: 50%;
        box-shadow: 0 1rem 3rem black;
        position:absolute;
        outline-offset: 2rem;
        transition: all .3s;
        z-index: 10;

        &:hover{
            z-index: 20;
            transform: scale(1.1) rotate(-5deg);
            outline: 8px solid $dark-green;

            
        }
        
    
    }

    &__photo--p1{
        top:1rem;
        left:2rem;
        transform: rotate(5deg);

    }

    &__photo--p2{
        top:4rem;
        left:25rem;
        transform: rotate(-5deg);
    }

    &__photo--p3{
        top:15rem;
        left:10rem;
        transform: rotate(5deg);
    }


}
.feature{
    padding:10rem 0;
    background-image: linear-gradient(to bottom right, rgba($light-green, .8), rgba($dark-green,.8)), url("../img/nat-4.jpg");
    background-size: cover;
    background-position: bottom;
    transform: skewY(-5deg);
    margin-top: -6rem;
    text-align: center;

    .row{
        transform: skewY(5deg);
    }
    i{
        font-size: 6rem;
        display: inline-block;
        background: linear-gradient(to right, rgba($light-green,.8), rgba($dark-green,.7));
        -webkit-background-clip: text;
        color: transparent;
    }

}
.rotate-sec{
    background-color: #f7f7f7;
    padding: 16rem 0;
    margin-top: -6rem;

    
}
.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    

    &__side{
        height: 50rem;
        width: 100%;
        box-shadow: 0 1rem 2rem rgba(black, .5);
        backface-visibility:hidden;
        border-radius: 3px;
        overflow: hidden;
        position: absolute;
        top:0;
        left:0;
        
        transition: all .8s ease;

        &--front{
            background-color: white;
            &--1{

            }
        }

        &--back{
            transform: rotateY(180deg);
            .card__back--cta{
                position:absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
            }
            .only{
                font-size: 2rem;
                margin: 1rem;
            }
            .value{
                font-size: 8rem;
                font-weight: 200;
                margin: 1rem 0 7rem 0;
            }
            .btn-shop{
                border-radius: 20px;
                padding:1rem 4rem;
                background-color: white;
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.527);
                text-transform: uppercase;
                font-size: 1.6rem;   
                border: none; 
                color: $gray;

                &:hover{
                    transform: translateY(-3px);
                }
                &:active{
                    transform: translateY(-1px);
                }
            }
            &--1{
                background: linear-gradient(to right bottom, rgb(228, 165, 47), rgb(228, 93, 30));
            }

            &--2{
                background: linear-gradient(to right bottom , $light-green, $dark-green);
            }

            &--3{
                background: linear-gradient(to right bottom , rgb(60, 105, 189), rgb(22, 33, 185));
            }
        }   
    }
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0);
    }

    &__pic{
        background-size: cover;
        background-position: bottom;
        height: 22rem;
        -webkit-background-clip: polygon(0 0,100% 0,100% 85%,0 100%);
        clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
        background-blend-mode: screen;

        &--1{
            background-image:linear-gradient(to right, rgba(240, 84, 11, 0.50), rgba(240, 82, 9, 0.50)), url("../img/nat-5.jpg");
        }

        &--2{
            background-image:linear-gradient(to right, $light-green, $dark-green), url("../img/nat-6.jpg");
        }

        &--3{
            background-image:linear-gradient(to right, rgba(60, 105, 189, 0.50), rgba(22, 33, 185, 0.50)), url("../img/nat-7.jpg");
        }
    }

    &__heading{
        color:white;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 300;
        position:absolute;
        top:13rem;
        right: 1rem;
        text-align: right;
        width: 70%;
    }

    &__span{
        padding: .8rem 1rem;
        -webkit-box-decoration-break:clone;
        box-decoration-break: clone;

        &--1{
            background: linear-gradient(to right bottom, rgb(228, 165, 47), rgba(218, 98, 43, 0.959));
        }

        &--2{
            background: linear-gradient(to right bottom , $light-green, $dark-green);
        }

        &--3{
            background: linear-gradient(to right bottom , rgb(60, 105, 189), rgb(22, 33, 185));
        }
    }

    &__disc{
        
        ul{
            padding-top: 2rem;
            list-style-type: none;
            margin: 0 auto;
            width: 50%;
        }
        li{
            text-align: center;
            font-size: 1.5rem;
            padding:.5rem;
            &:not(:last-child){
            border-bottom: 1px solid rgba(128, 128, 128, 0.24);
            }
        }
    }
    

}
.center-div{
    text-align: center;
}

.heading-secondery{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right, $light-green, $dark-green);
    display:inline-block;
    -webkit-background-clip:text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    margin-bottom: 5rem;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
    }
}

.stories{
    padding:10rem 0;
    position: relative;
    overflow: hidden;

    .story{
        background-color:rgba(white,.5);
        padding:6rem;
        transform: skewX(-10deg);
        width: 75%;
        margin: 0 auto;
        
        &:not(:last-child){
            margin-bottom: 5rem;
        }             

        &__shape{
            height: 15rem;
            width: 15rem;
            background-color: rebeccapurple;
            float: left;
            shape-outside: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            margin-right: .5rem;
            transform: skewX(10deg);
            overflow: hidden;
            position: relative;

            .story__caption{
                font-size: 1.5rem;
                text-align: center;
                color: white;
                opacity: 0;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,10%);    
                transition: all .2s;
            }
        }

        &__shape__outline{
            transform: skewX(10deg);
        }

        &__pic{
            height: 100%;
            transform: translateX(-2rem);
            transition: all .2s;
            backface-visibility: hidden;
        }

        p{
            margin-top: 1.2rem;
        }

    }
}
.story:hover .story__pic{
    transform: scale(1.2);
    filter: blur(3px) brightness(70%);
} 

.story:hover .story__caption{
    transform:translate(-50%,-50%);
    opacity: 1;
}

.video__container{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}

.story_bg_video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .2;
}
.center-btn{
    text-align: center;
}

